table {
    text-align: left;
    border-collapse: collapse;
    border: 0px solid black;
    width: 100%;
}

#heading {
    background-color: #4CAF50;
    color: white;
    width: 80%;
}

#Details {
    list-style-type:none;
}

body {
    background-color: #f2f2f2;
}

#addBook {
    font-weight: bolder;
    font-style: oblique;
}

#detail {
    height: 50px;
    vertical-align: top;
}

#Input {
    height: 30px;
    vertical-align: bottom;
}

#addForm {
    display: none;
}

#list {
    width: 30%;
}

#link {
    vertical-align: top;
    width: 20%;
}
